
@model RmlBlogMvc.Models.BlogViewModel.BlogViewModel
@{ 
    Layout = "_BlogLayout";
    ViewData["Title"] = "Blog - " + Model.Blog.Title;
}

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.Blog.Content)
            </div>
        </div>
    </div>
</article>

