
@{
    ViewData["Title"] = "User About";
}


@model RmlBlogMvc.Models.UserViewModel.UserAboutInfoViewModel


<article>
    <div class="container">
        <div>
            <h1 class="align-items-center">
                @Model.AboutInfoHeader
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.Raw(Model.AboutInfoContent)
            </div>
        </div>
    </div>
</article>